body {
    font-family: Arial, sans-serif;

    
    background-image: url("assets/fundo.jpg");
    background-size: cover;          
    background-position: center;     
    background-repeat: no-repeat;    

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    background: rgba(255, 255, 255, 0.9); 
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 15px rgba(41, 255, 13, 0.973);
}

.logo {
    width: 120px;
    margin-bottom: 10px;
    
}

input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #00c853; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #009624;
}

.resultado {
    margin-top: 15px;
    font-weight: bold;
}


.aprovado {
    color: green;
}

.reprovado {
    color: red;
}
.card-exercicio {
    background: rgba(255, 254, 254, 0);
    color: rgb(0, 0, 0);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: left;
    max-width: 300px;
    font-size: 14px;
}

.card-exercicio h3 {
    margin-top: 0;
    color: #00e676;
}

.card-exercicio {
    backdrop-filter: blur(5px);
}