:root {
  font-family: 'Courier New', monospace;
  background-color: #0b0b0b;
  color: #ffffff;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}